/*globales*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
}

p {
    hyphens: auto;
}



/*header*/

header {
    margin: 0rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffffa9;
    width: 100%;

}

@media(min-width:768px) {
    header {
        margin: 0rem 0rem;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }
}

header h1 {
    color: #636867;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 1.5rem;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #636867;
    font-weight: 700;
    padding: 2rem;
}

@media (min-width:768px) {
    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #636867;
        font-weight: 700;
    }
}

a:hover {
    color: #6296c5;
    font-weight: 700;
}



.img {
    width: 80px;
}

.wal {
    display: flex;

}

.h1 {
    padding: 0.2rem;

}

.cat {
    background-image: url(../img/BANNER\ PAGINA\ WEB\ CATALOGO\ -\ 02.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30rem;
    display: grid;
    place-items: center;
}

/*under header*/
.img-header {
    height: 32rem;
    overflow: hidden;
    background-image: url(../img/BANNER\ VACIO.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

@media (min-width:768px) {
    .img-header {
        height: 45rem;
        overflow: hidden;
        background-image: url(../img/BANNER\ VACIO2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        place-items: center;
    }
}



.img-header h2 {
    color: #636867;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.img-header span {
    color: #6296c5;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(min-width:768px) {
    .img-header h2 {
        color: #636867;
        font-size: 3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .img-header span {
        color: #6296c5;
        font-size: 2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.contenedor2 {
    max-width: 90%;
    width: 100%;
    margin-left: 0rem;
}

@media(min-width:768px) {
    .contenedor2 {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;

    }
}

.walamito {
    border: 2px solid #6296c5;
    border-radius: 5px;
    padding: 1rem;
}

/*nosotros*/
.nosotros-info {
    display: grid;
    place-items: center;
}

.nosotros-info-texto span {
    color: #6296c5;
    font-weight: 700;

}

.nosotros-info-texto p {
    font-size: 1.1rem;
    margin: 1rem;
    padding: 0 0 0 1rem;


}

@media(min-width:768px) {
    .nosotros-info-texto p {
        font-size: 1.9rem;
    }
}

.nosotros-info-titulo h1 {
    font-size: 2.5rem;
    font-weight: 700;
}


/*contrucciones y reparaciones*/
/* .contrucciones {
    background-image: url(../img/LOGO\ WALAMITO\ PNG\ CON\ FONDO.png);
    background-size: cover;
    width: 50;
    height: 20rem;
    display: grid;
    place-items: center;
} */

.contrucciones h1 {
    font-weight: 700;
    color: #636867;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}


p {
    font-size: 1.5rem;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contrucciones {
    display: grid;
    grid-template-columns: 1fr;

}

.contrucciones h1 {
    font-size: 2rem;
    text-align: center;
}

.img2 {
    width: 220px;

    margin-left: 0rem;
}

@media(min-width:768px) {
    .img2 {
        width: 500px;
        display: block;

    }

    .contrucciones {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.center {
    display: grid;
    place-items: center;
}

/*imagen catalogo*/


/* .img-catalogo {
    background-image: url(../img/catalogo.jpeg);
    filter: blur(1.5px);
    background-size: cover;
    height: 20rem;
    background-position: center center;
    background-repeat: no-repeat;

} */
.img4 {
    position: relative;
    height: 25rem;
    object-fit: cover;

    filter: grayscale(.5);
    margin: 1rem 0;
    z-index: -2;

}

.img5 {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center bottom;
}

@media(min-width:768px) {
    .img5 {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        object-position: center bottom;
    }
}



@media(min-width:768px) {
    .cath1 {
        font-size: 5rem;
        border-bottom: none;
    }
}

.cath1 {
    font-size: 3.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-transform: uppercase;
}




/*catalogo*/
.grid-catalogo {
    margin: 0.2rem;
}

@media(min-width:768px) {
    .grid-catalogo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 0;
    }
}


.catalgo {
    box-shadow: 0px 3px 25px -10px rgba(99, 104, 103, 1);
    width: 100%;
    border-radius: 16px;
    margin-bottom: 1rem;
}

@media(min-width:768px) {
    .catalgo {
        box-shadow: 0px 3px 25px -10px rgba(99, 104, 103, 1);
        width: 100%;
        border-radius: 16px;
        margin: 0;
    }
}

.catalgomar {
    margin-bottom: 1rem;
}

.catalgo img {
    object-fit: cover;
    border-radius: 16px 16px 0 0;

}

.catalgo h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0.5rem;
}

.img3 {
    width: 100%;
    height: auto;
    object-fit: cover;
}



@media(min-width:768px) {
    .img3 {
        width: 100%;
        height: auto;

    }
}

.img4 {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    margin: 0;
}



@media(min-width:768px) {
    .img4 {
        width: 100%;
        height: 24.59rem;
    }
}

.catalgo span {
    color: #6296c5;
    font-weight: 700;
}

.calc {
    display: grid;
    place-items: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;

}

input {
    display: block;
    outline: none;
    border: none;
    padding: 0.5rem;
    border: 1px solid #636867;
    border-radius: 5px;
    font-size: 1.5rem;


    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}






@media(min-width:768px) {
    input {
        display: block;
        outline: none;
        border: none;
        border-bottom: 1px solid #636867;
        padding: .6rem 2rem;
        font-size: 1rem;


    }
}

input:focus {
    border-bottom: 3px solid #6296c5;
}

@media(min-width:768px) {
    label {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.2rem;
    }

    input {
        display: block;
        outline: none;
        border: none;
        border-bottom: 1px solid #636867;
    }
}



.flex {
    margin-left: 1rem;
}

@media(min-width:768px) {


    button {
        border: none;
        padding: .5rem 3rem;
        border-radius: 5px;
        color: white;
        background-color: #636867;
        cursor: pointer;
        font-size: 1.1rem;
        margin: .1rem;
    }
}

button {
    border: none;
    padding: .8rem 3rem;
    border-radius: 5px;
    color: white;
    background-color: #636867;
    cursor: pointer;
    font-size: 1.1rem;
    margin: .1rem;
}

button:hover {
    background-color: #6296c5;
}

.catalgo-titulos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1rem;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

@media (min-width:768px) {
    .catalgo-titulos {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 4rem;
        color: #ffffff;
        border-radius: 5px;
        padding: 0.5rem;

    }
}

.p {
    font-size: 1.2rem;
    text-align: left;
    color: #636867;
    font-weight: bold;
}

@media(min-width:768px) {
    .p {
        font-size: 1.5rem;
        text-align: left;
    }
}

.botones {
    display: flex;
    justify-content: space-between;
}

/*menu header*/
.nav {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    position: absolute;
    margin-top: 5.7rem;
    background-color: #000000c9;
    border-radius: 5px;
    right: 1px;
    padding: 3.1rem;
    z-index: 100;
}

.nav a {
    color: white;
}

@media(min-width:768px) {
    .nav {
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: row;
        margin-left: 0;
        position: relative;
        margin-top: 2rem;
        background-color: transparent;
        border-radius: 0px;
        right: 0;
        padding: 0rem;

    }

    .nav a {
        color: #636867;
    }

    .nav a:hover {
        color: #6296c5;
    }
}

.topic {
    display: none;
}

@media(min-width:768px) {
    .topic {
        display: block;
    }
}

/*menu hamburguesa*/


.menu {
    display: block;
}

@media(min-width:768px) {
    .menu {
        display: none;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.mn {
    margin: .5rem 1rem 0 5rem;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.contenedorform {
    max-width: 40rem;
    width: 100%;
    margin: 2rem auto;
    background-color: #6297c5bb;
    border-radius: 16px;

}

.form {
    margin-top: 1rem;
    background-image: url(../img/catalogo.jpeg);
    height: 45rem;
    background-size: cover;
    background-position: center center;
    display: grid;
    place-items: center;
}

@media(min-width:768px) {
    .form {
        background-image: url(../img/catalogo.jpeg);
        height: 40rem;
        background-size: cover;
        background-position: center center;
        display: grid;
        place-items: center;
    }

    .contenedorform {
        max-width: 40rem;
        width: 100%;
        margin: 2rem auto;
        background-color: #6297c5dc;
        border-radius: 16px;
        margin: 0;
    }
}

/*contacto*/
.grid-contactos {

    margin-bottom: 1rem;
}

@media(min-width:768px) {
    .grid-contactos {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}

.email {
    margin-bottom: 1rem;
    width: 80%;
}

@media(min-width:768px) {
    .email {
        margin-bottom: 1rem;
        width: auto;
    }
}

textarea {
    resize: none;
    outline: none;
    width: 80%;
}

@media(min-width:768px) {
    textarea {
        resize: none;
        outline: none;
    }
}

input[type=submit] {
    margin: 1.5rem;
    border: none;
    padding: .8rem 3rem;
    border-radius: 5px;
    color: white;
    background-color: #636867;
    cursor: pointer;
    font-size: 1.1rem;

}

input[type=submit]:hover {
    background-color: #ffffff;
    color: black;
}

.contacto-h1 {
    margin-top: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1c1d1d;

}

.contacto {
    border-radius: 16px;

}

/*telefono*/
.fix {
    position: fixed;
    top: 70%;
    /* Ajusta la distancia desde la parte superior según tu diseño */
    left: -30px;
    /* Ajusta la distancia desde la derecha según tu diseño */
    /* Ajusta el ancho según tu diseño */

    background-color: #636867b2;
    /* Color de fondo */
    padding: 0rem;
    border-radius: 1rem;
    /* Espacio interno del cuadro */
}

.fix2 {
    position: fixed;
    top: 60%;
    /* Ajusta la distancia desde la parte superior según tu diseño */
    left: -30px;
    /* Ajusta la distancia desde la derecha según tu diseño */
    background-color: #636867b2;
    /* Ajusta el ancho según tu diseño */
    /*background-color: #6296c5a4;
    /* Color de fondo */
    padding: 0rem;
    border-radius: 1rem;
    /* Espacio interno del cuadro */
}

/*header 2*/
/* .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333b7;
    color: #fff;
    padding: 0 0rem;
    margin: 0;
   
}

@media (min-width:768px) {
    .fixed-header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333333b7;
        color: #fff;
        padding: 0 1rem;
        margin: 0;

    }
}

.fixed-header svg {
    border: 1px solid #fff;
    border-radius: 5px;
}

.fixed-header svg:focus {
    border: 2px solid #fff;
}

.fixed-header h1 {
    color: white;
}

.fixed-header a {
    color: white;
} */


.element-to-reveal {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: -1;
}

.reveal {
    opacity: 1;
    transform: translateY(0);
}

.ubicacion {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #636867;
}

.img7 {
    width: 50px;
}

.redes {
    display: flex;
    justify-content: center;
}


.img8 {
    width: 100px;
}


/*footer*/
h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

footer span {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #6296c5;
}

footer {
    background-color: #dfdfdf;
    margin: 0;
    padding: 1rem;
    box-shadow: 0px 15px 30px -10px rgba(99, 104, 103, 1);
}

.flex1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-hijo {
    display: grid;
    place-items: center;
}

.text {
    text-align: center;
    margin: 0;

}

.text p,
a {
    text-align: right;
    font-size: 1.2rem;
    color: #636867;
}

@media(min-width:768px) {
    .flex-hijo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .text {
        text-align: right;
        margin: 0;

    }

    .text p {
        text-align: right;
        font-size: 1rem;
        color: #636867;

    }

    .text a {
        text-align: right;
        font-size: 1rem;
    }

}

.np {
    padding: 0;

}

.mb {
    margin-bottom: 1rem;
}

@media(min-width:768px) {
    .mb {
        margin-bottom: 0rem;
    }
}